{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
        <div class="row">
            <div class="col-md-10"></div>
        <div class="col-md-1">
            <a href="{%url 'inventory:carexpenses_list'%}">
                <span class="badge rounded-pill bg-danger" style="font-size: xx-large;">Back</span>
                </a> 
        </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Chassis No</th>
                    <th scope="col">Unit Cost(Kshs)</th>
                    <th scope="col">VAT</th>
                    <th scope="col">Port Charges</th>
                    <th scope="col">Transport Charges</th>
                    <th scope="col">Miscellaneous Costs</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Action</th>
                  </tr>
            </thead>
            <tbody>
                {% for n in searched_details %} 
                        <tr>   
                            <td>{{n.name|capfirst}}</td>
                            <td>{{n.chassisno}}</td>
                            <td>{{n.unitcost}}</td>
                            <td>{{n.tax}}</td>
                            <td>{{n.portcharges}}</td>
                            <td>{{n.transportcharges}}</td>
                            <td>{{n.miscellaneous}}</td>
                            <td>{{n.totalcost}}</td>
                            <td scope="row">
                                <a href="{%url 'inventory:updatecarexpenses' n.id%}">
                                    <span class="fa fa-edit" style="color: orange; font-size: large;"></span>
                                </a>                                
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">No results found</td>
                            </tr>
                        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
