{% extends 'base.html' %}

{% block title %}
Add CarMake
{% endblock %}

{% block content %}

<form method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class="card makecard" style="width: 35rem; height: 13rem;">
          <center><h4>Add Car Make</h4></center>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="margin-bottom: 15px;"><b>Car Make</b> {{form.name}}</li>
            </ul>
            <div class="row">
              <div class="col-md-5"><a class="button button-cancel-make"href="{% url 'inventory:carmake' %}">Cancel</a></div>
              <div class="col-md-2"></div>
              <div class="col-md-5"><button type="submit" class="button button-add"href="{% url 'inventory:carmake' %}">Add</button></div>
            </div>
          </div>
      </div>
      <div class="col-md-4"></div>
        
    </div>
  </form>
 
  {% endblock %}
