{% extends 'base.html' %}
{% block title %}Payment Receipts Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-6">
        </div>
            <div class="col-md-2">
                <div class="row" style="margin-top:0.35em;">
                    <a href="{% url 'clients:addreceipt' %}">
                        <button type="submit" class="btn btn-primary" >+ Receipt Details</button>
                    </a>
                </div>
            </div>

    </div>
    </div>
    <div class="col-md-12">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">AMOUNT PAID</th>
                    <th scope="col">PAYMENT MODE</th>
                    <th scope="col">PAYMENT DATE</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for n in page.object_list %}
                <tr>
                    <td>{{ n.invamount|capfirst }}</td>
                    <td>{{ n.amt_paid}}</td>
                    <td>{{ n.payment_mode }}</td>
                    <td>{{ n.paymentdate }}</td>
                    <td><a href="{%url 'clients:updatereceipt' n.id%}">
                        <span class="fa fa-edit" style="color: orange; font-size: large;"></span>
                    </a>&nbsp;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row my-6">
            <div class="col-md-4 offset-md-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        {% if page.has_previous %}
                        <a class="page-link" href="{% url 'clients:prospectslist' %}?page={{ page.previous_page_number }}">Previous</a>
                      </li>
                        {% endif %}
                        {% for num_page in page.paginator.page_range %} <br>
                        {% if page.number == num_page %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link"  href="{% url 'clients:prospectslist' %}?page={{num_page}}">{{ num_page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link"  href="{% url 'clients:prospectslist' %}?page={{num_page}}">{{ num_page }}</a>
                        </li>
                        {% endif %} <br>
                        {% endfor %}
                      <li class="page-item">
                        {% if page.has_next %}
                        <a class="page-link" href="{% url 'clients:prospectslist' %}?page={{ page.next_page_number }}">Next</a>
                        {% endif %}
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
       </div>
</div>
{% endblock %}